# 7. Iterators

In [1]:
# iterator
for i in range(10):
    print(i, end = ' ')

0 1 2 3 4 5 6 7 8 9

## Iterators over lists

In [2]:
for value in [2, 4, 6, 8, 10]:
    print(value + 1, end = ' ')

3 5 7 9 11

In [3]:
iter([2,4,6,8,10])

In [4]:
I = iter([2,4,6,8,10])
print(next(I))

2

In [6]:
print(next(I))

6

## range()

In [7]:
range(10)

range(0, 10)

In [8]:
iter(range(10))

In [9]:
for i in range(10):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [10]:
N = 10 ** 12
for i in range(N):
    if i >= 10: break
    print(i, end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

In [11]:
from itertools import count
for i in count():
    if i >= 10:
        break
    print(i, end = ', ')

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,

## enumerate

In [12]:
# enumerate
L = [2,4,6,8,10]
for i in range(len(L)):
    print(i, L[i])

0 2
1 4
2 6
3 8
4 10

In [13]:
for i, val in enumerate(L):
    print(i, val)

0 2
1 4
2 6
3 8
4 10

## zip

In [15]:
L = [1, 2, 3, 4, 5]
R = [6, 7, 8, 9, 10]
for rval, rval in zip(L, R):
    print(lval, rval)

10 6
10 7
10 8
10 9
10 10

## map and filter

In [16]:
# find the first 10 square numbers
square = lambda x: x ** 2
for val in map(square, range(10)):
    print(val, end = ' ')

0 1 4 9 16 25 36 49 64 81

In [17]:
# find teh values up to 10 for which x % 2 is zero
is_even = lambda x: x % 2 == 0
for val in filter(is_even, range(10)):
    print(val, end = ' ')

0 2 4 6 8

## Iterators as function arguments

In [18]:
print(*range(10))

0 1 2 3 4 5 6 7 8 9

In [19]:
print(*map(lambda x: x ** 2, range(10)))

0 1 4 9 16 25 36 49 64 81

In [20]:
L1 = (1, 2, 3, 4)
L2 = ('a', 'b', 'b', 'd')

In [21]:
z = zip(L1, L2)
print(*z)

(1, 'a') (2, 'b') (3, 'b') (4, 'd')

In [22]:
z = zip(L1, L2)
new_L1, new_L2 = zip(*z)
print(new_L1, new_L2)

(1, 2, 3, 4) ('a', 'b', 'b', 'd')

### Specialized Iterators: itertools

In [23]:
from itertools import permutations
p = permutations(range(3))
print(*p)

(0, 1, 2) (0, 2, 1) (1, 0, 2) (1, 2, 0) (2, 0, 1) (2, 1, 0)

In [24]:
from itertools import combinations
c = combinations(range(4), 2)
print(*c)

(0, 1) (0, 2) (0, 3) (1, 2) (1, 3) (2, 3)

In [28]:
from itertools import product
p = product('ab', range(3))
print(*p)

('a', 0) ('a', 1) ('a', 2) ('b', 0) ('b', 1) ('b', 2)

# 8. List comprehensions

## Basic list comprehensions

In [29]:
[i for i in range(20) if i % 3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [30]:
L = []
for n in range(12):
    L.append(n ** 2)
L

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [31]:
[n ** 2 for n in range(12)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

## Multiple iteration

In [ ]:

[(i, j) for i in range(2) for j in range(3)]

## Conditionals on the iterator

In [32]:
[val for val in range(20) if val%3 > 0]

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

In [34]:
L = []
for val in range(20):
    if val % 3:
        L.append(val)
L

[1, 2, 4, 5, 7, 8, 10, 11, 13, 14, 16, 17, 19]

## Conditionals on the value

In [ ]:
int absval = (val < 0) ? -val: val

In [35]:
val = -11
val if val >= 0 else -val

11

In [37]:
[val if val % 2 else -val
 for val in range(20) if val % 3]

[1, -2, -4, 5, 7, -8, -10, 11, 13, -14, -16, 17, 19]

In [38]:
{n**2 for n in range(12)}

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121}

In [39]:
{a % 3 for a in range(1000)}

{0, 1, 2}

In [40]:
{n:n**2 for n in range(6)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [41]:
(n**2 for n in range(12))

# 9. Generators
- Generator Expressions
- Generator Functions

## Generator Expressions

In [42]:
[n ** 2 for n in range(16)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [43]:
(n ** 2 for n in range(16))

In [44]:
G = (n ** 2 for n in range(16))
list(G)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225]

In [45]:
L = [n ** 2 for n in range(16)]
for val in L: 
    print(val, end = ' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225

In [46]:
from itertools import count
count()

count(0)

In [47]:
for i in count():
    print(i, end = ' ')
    if i >= 10: break

0 1 2 3 4 5 6 7 8 9 10

In [48]:
factors = [2, 3, 4, 5]
G = (i for i in count() if all(i % n > 0 for n in factors))
for val in G: 
    print(val, end = ' ')
    if val > 40: break

1 7 11 13 17 19 23 29 31 37 41

In [49]:
L = [n ** 2 for n in range(16)]
for val in L: 
    print(val, end = ' ')
print()

for val in L: 
    print(val, end = ' ')

0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225
0 1 4 9 16 25 36 49 64 81 100 121 144 169 196 225

In [50]:
G = (n ** 2 for n in range(12))
list(G)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [51]:
list(G)

[]

In [52]:
G = (n ** 2 for n in range(12))
for n in G: 
    print(n, end = ' ')
    if n > 30: break

print("\ndoing something in between")

for n in G: 
    print(n, end = ' ')

0 1 4 9 16 25 36
doing something in between
49 64 81 100 121

## Generator Functions: Using yield

In [53]:
L1 = [n ** 2 for n in range(12)]
L2 = []
for n in range(12):
    L2.append(n ** 2)
    
print(L1)
print(L2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121]

In [55]:
G1 = (n ** 2 for n in range(12))

def gen():
    for n in range(12):
        yield n ** 2
    
G2 = gen()
print(*G1)
print(*G2)

0 1 4 9 16 25 36 49 64 81 100 121
0 1 4 9 16 25 36 49 64 81 100 121

### Example: Prime Number Generator

In [56]:
# Generate a list of candidates
L = [n for n in range(2, 40)]
print(L)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]

In [57]:
# Remove all multiples of the first value
L = [n for n in L if n == L[0] or n % L[0] > 0]
print(L)

[2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [58]:
# Remove all multiples of the second value
L = [n for n in L if n == L[1] or n % L[1] > 0]
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37]

In [59]:
# Remove all multiples of the third value
L = [n for n in L if n == L[2] or n % L[2] > 0]
print(L)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37]

In [60]:
def gen_primes(N):
    """Generate primes up to N"""
    primes = set()
    for n in range(2, N):
        if all(n%p > 0 for p in primes):
            primes.add(n)
            yield n

In [61]:
print(*gen_primes(70))

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67

# 10 . String manipulations

In [62]:
x = 'a string'
y = "a string"
x==y

True

In [63]:
# adjusting the case
string = "the qUICK brOWn fOx"

In [64]:
string.upper()

'THE QUICK BROWN FOX'

In [65]:
string.lower()

'the quick brown fox'

In [66]:
string.title()

'The Quick Brown Fox'

In [67]:
string.capitalize()

'The quick brown fox'

In [68]:
string.swapcase()

'THE Quick BRowN FoX'

In [69]:
# Adding and removing spaces
string = '         the quick brown fox'
string.strip()

'the quick brown fox'

In [70]:
string.rstrip()

'         the quick brown fox'

In [71]:
string.lstrip()

'the quick brown fox'

In [72]:
num = "0000000000000123"
num.strip('0')

'123'

In [73]:
# adding spaces or characters
line = "this is the content"
line.center(30)

'     this is the content      '

In [74]:
line.ljust(30)

'this is the content           '

In [75]:
line.rjust(30)

'           this is the content'

In [76]:
'123'.rjust(10, '0')

'0000000123'

In [77]:
'234'.zfill(10)

'0000000234'

In [78]:
# finding and replacing substrings
str2 = 'the quick brown fox jumped over a lazy dog'
str2.find('fox')

16

In [79]:
str2.index('fox')

16

In [80]:
str2.find('bear')

-1

In [81]:
str2.index('bear')

ValueError: substring not found

In [82]:
str2.rfind('a')

35

In [83]:
str2.endswith('dog')

True

In [84]:
str2.startswith('fox')

False

In [85]:
str2.replace('o', '--')

'the quick br--wn f--x jumped --ver a lazy d--g'

In [86]:
# splitting and partitioning
str2

'the quick brown fox jumped over a lazy dog'

In [87]:
str2.partition('fox')

('the quick brown ', 'fox', ' jumped over a lazy dog')

In [88]:
str2.split()

['the', 'quick', 'brown', 'fox', 'jumped', 'over', 'a', 'lazy', 'dog']

In [89]:
str3 = """the quick
        brown fox
        jumped over
        a lazy dog"""
str3.splitlines()

['the quick', '        brown fox', '        jumped over', '        a lazy dog']

In [90]:
'--'.join(['1','2','3'])

'1--2--3'

In [91]:
print("\n".join(['the quick','brown fox', 'jumped over', 'a lazy dog']))

the quick
brown fox
jumped over
a lazy dog

In [92]:
pi = 3.14
str(pi)

'3.14'

In [93]:
'The value of pi is: ' + str(pi)

'The value of pi is: 3.14'

In [94]:
"The value of pi is {}".format(pi)

'The value of pi is 3.14'

In [95]:
"""First letter: {0}, last letter: {1}""".format('A','B')

'First letter: A, last letter: B'

In [96]:
"""First letter: {first}, last letter: {second}""".format(second='B',first='A')

'First letter: A, last letter: B'

In [97]:
"pi = {0:.3f}".format(pi)

'pi = 3.140'